.view-more {
    line-height: 30px;
    padding: 30px 0;
    text-align: center;
    color: #9b9b9b;
    font-size: 24px;

    .va-m {
        vertical-align: middle;
    }

    span {
        &::after {
            content: "";
            display: inline-block;
            width: 18px;
            height: 10px;
            margin-left: 7px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKCAMAAACOlf6TAAAASFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACrhKybAAAAGHRSTlMAC5GOdGc8Dgh5cGyLSSwmHxRWTkM3MgUs+hleAAAAUklEQVQI11XIRw7AIAxE0QFsegqp979pIivI4W9m9LA1DPmKksJfLucRmYzKbE8AsZBR8bIm588WETEqUcQd6AXi11Y3AWqJ7y5que4Ya5b7fQDKsQIVSd2fFQAAAABJRU5ErkJggg==);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
}